---
import BaseLayout from "~/layouts/BaseLayout.astro"
---
<BaseLayout
    title="Tattoo portfolio"
    description="A minimal, single-page photo gallery for Astro."
>
    <div class="flex justify-center">
        <h1>Hello.</h1>
    </div>

</BaseLayout>